@import url('https://fonts.googleapis.com/css2?family=Puritan:ital@1&display=swap');

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightgray;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    border-radius: 0px 0px 20px 0px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: lightgray;
    color: black;
    padding: 10px 15px;
    border: none;
    height: 55px;
    width: 90px;
    border-radius: 10px;
    position: fixed;
  }
  
  .openbtn:hover {
    background-color: #f1f1f1;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
 




body{
    font-family: 'Puritan', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
}

#headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#head{
margin: 0;
color: black;
text-decoration: none;
}

#image {
    
    height: 300px;
    width: 300px;
    border-radius: 20px;
    margin-bottom: 10px;
}
#links{
display: flex;
justify-content:center;
}
.oneLink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 50px 0px 50px ;
}
.linkLogos{
height: 50px;
width: 50px;
}

#breadContainer {
    display: flex;
    background-color: lightgray;
    margin: 0px 25% 0 25%;
    border-radius: 100px;
    flex-direction: column;
    height: auto;
}

.lineContainer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.textContainer {
    display: flex;
    flex: 1;
    font-size: 30px;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
}

p{
    margin: 10px 0px 0px 0px;
}
.specifications{
    font-size: 25px;
}
#crosshaircontainer{
display: flex;
align-items: center;
}
#crossIMG{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin-right: 30px;
}
.header2{
 justify-content: center;
 display: flex;
 margin-bottom: 20px;
}
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }


    @media only screen and (max-width: 768px) {
        #headerContainer
        {
            font-size: 11px;
        }
        #image{
            height: 200px;
            width: 200px;
        }
        .oneLink{
            font-size: 10px;
            margin: 0 10% 0 10%;
        }
        .linkLogos{
            height: 30px;
            width: 30px;
        }
        #breadContainer{
            width: 100%;
            margin: 0 0 0 0;
            border-radius: 20px;
        }
        .lineContainer{
            margin: 0 0 0 20px;
        }
        .textContainer{
            font-size: 20px;
        }
        #lvlheader{
            font-size: 20px;
        }
        .header2{
            font-size: 16px;
        }
        
        
      }
      @media only screen and (min-width: 768px) {
        #headerContainer
        {
            font-size: 18px;
        }
        #image{
            height: 300px;
            width: 300px;
        }
        .oneLink{
            font-size: 15px;
            margin: 0 10% 0 10%;
        }
        .linkLogos{
            height: 38px;
            width: 38px;
        }
        #breadContainer{
            width: 100%;
            margin: 0 0 0 0;
            border-radius: 20px;
        }
        .lineContainer{
            margin: 0 0 0 20px;
        }
        .textContainer{
            font-size: 30px;
        }
        #lvlheader{
            font-size: 30px;
        }
        .header2{
            font-size: 25px;
        }
      }
      @media only screen and (min-width: 1000px) {
        #headerContainer
        {
            font-size: 25px;
        }
        #image{
            height: 400px;
            width: 400px;
        }
        .oneLink{
            font-size: 20px;
            margin: 10px 10% 0 10%;
        }
        .linkLogos{
            height: 45px;
            width: 45px;
        }
        #breadContainer{
            display: flex;
            background-color: lightgray;
            margin: 20px 15% 0 15%;
            flex-direction: column;
            height: auto;
            width: auto;
        }
        .lineContainer{
            margin: 0 0 0 20px;
        }
        .textContainer{
            font-size: 35px;
        }
        .specifications{
            margin-left: 20px;
        }
        #lvlheader{
            font-size: 35px;
        }
        .header2{
            font-size: 30px;
        }
      }