@import url('https://fonts.googleapis.com/css2?family=Puritan:ital@1&display=swap');

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightgray;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    border-radius: 0px 0px 20px 0px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: lightgray;
    color: black;
    padding: 10px 15px;
    border: none;
    height: 55px;
    width: 90px;
    border-radius: 10px;
    position: fixed;
  }
  
  .openbtn:hover {
    background-color: #f1f1f1;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
 




body{
    font-family: 'Puritan', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
}

#headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#head{
margin: 0;
color: black;
text-decoration: none;
}

#image {
    
    height: 300px;
    width: 300px;
    border-radius: 20px;
    margin-bottom: 10px;
}
#imageLVLcontainer{
    align-items: center;
    display: flex;
    align-items: center;
    flex: 1;
}

.imageLVL {
opacity: 30%;
height: 95px;
width: 95px;
}

#imgLVL10{
height: 95px;
width: 95px;
}
#links{
display: flex;
justify-content:center;
}
.oneLink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 50px 0px 50px ;
}
.linkLogos{
height: 50px;
width: 50px;
}

#breadContainer {
    display: flex;
    background-color: lightgray;
    margin: 0px 25% 0 25%;
    border-radius: 100px;
    flex-direction: column;
    height: auto;
    width: auto;
}

.lineContainer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 0px 20px 0px 50px;
    
}

.textContainer {
    display: flex;
    flex: 1;
    font-size: 30px;
    align-items: center;

}
#lvlheader{
    font-size: 30px;
    display: flex;
    flex: 1;
    justify-content: center;
}
.header2{
 justify-content: center;
 display: flex;
 margin-bottom: 20px;
}
#DKFlag{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}
.youtubeVideo{
    justify-content: center;
    position: relative;
    align-items: center;
    overflow: hidden;
    width: 80%;
    padding-top: 56.25%;
    margin-bottom: 30px;
}
.scaled-frame{
    position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}


    @media only screen and (max-width: 768px) {
        #headerContainer
        {
            font-size: 11px;
        }
        #image{
            height: 200px;
            width: 200px;
        }
        #imageLVLcontainer{
            flex-wrap: wrap;
        }
        .imageLVL{
            height: 40px;
            width: 40px;
        }
        #imgLVL10{
            height: 40px;
            width: 40px;
        }
        .oneLink{
            font-size: 10px;
            margin: 0 10% 0 10%;
        }
        .linkLogos{
            height: 30px;
            width: 30px;
        }
        #breadContainer{
            width: 100%;
            margin: 0 0 0 0;
            border-radius: 20px;
        }
        .lineContainer{
            margin: 0 0 0 20px;
        }
        .textContainer{
            font-size: 20px;
        }
        #lvlheader{
            font-size: 20px;
        }
        .header2{
            font-size: 16px;
        }
        
        
      }
      @media only screen and (min-width: 768px) {
        #headerContainer
        {
            font-size: 18px;
        }
        #image{
            height: 300px;
            width: 300px;
        }
        #imageLVLcontainer{

            flex-wrap: wrap;
        }
        .imageLVL{
            height: 60px;
            width: 60px;
        }
        #imgLVL10{
            height: 60px;
            width: 60px;
        }
        .oneLink{
            font-size: 15px;
            margin: 0 10% 0 10%;
        }
        .linkLogos{
            height: 38px;
            width: 38px;
        }
        #breadContainer{
            width: 100%;
            margin: 0 0 0 0;
            border-radius: 20px;
        }
        .lineContainer{
            margin: 0 0 0 20px;
        }
        .textContainer{
            font-size: 30px;
        }
        #lvlheader{
            font-size: 30px;
        }
        .header2{
            font-size: 25px;
        }
      }
      @media only screen and (min-width: 1000px) {
        #headerContainer
        {
            font-size: 25px;
        }
        #image{
            height: 400px;
            width: 400px;
        }
        .oneLink{
            font-size: 20px;
            margin: 10px 10% 0 10%;
        }
        .linkLogos{
            height: 45px;
            width: 45px;
        }
        #breadContainer{
            display: flex;
            background-color: lightgray;
            margin: 20px 15% 0 15%;
            flex-direction: column;
            height: auto;
            width: auto;
        }
        .textContainer{
            font-size: 35px;
        }
        #lvlheader{
            font-size: 35px;
        }
        .header2{
            font-size: 30px;
        }
      }